p {
    font-size: 20px; /* Change the font size to 20 pixels */
    line-height: 2.5; /* Increase the line spacing to 1.5 times the font size */
  }
  .text-container{
    max-width: 1000px;
    margin: 0 auto;
  }
  .navbar{
    background-color: #5BFF88;
    position: fixed;
    top: 0;
    width:100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  body{
    background-color:#9BCCFF;
  }
  footer{

  width: 100%;
 
    
    background-color: #5BFF88;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        
  }
  .left-column {
    width: 50%;
    float: left;
  }

  .right-column {
    width: 50%;
    float: left;
  }
  .img-container{
    width: 20%;
    
   
  }
  fieldset > * {
    margin-bottom: 20px;
  }

  form {
    margin-left: 50px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  figure {
    width: 48%;
  }
  
  img {
    max-width: 100%;
  }
  
  figcaption {
    text-align: center;
  }

